/*ADVANTAGES*/

.advantages {
    background-image: url("../img/background-advantages-mobile.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;  
}

@media (min-width: 768px) {
    .advantages {
        background-image: url("../img/background-advantages-tablet.png");
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        padding-bottom: 120px;   
    }
}

@media (min-width: 992px) {
    .advantages {
        background-image: url("../img/background-advantages-desktop.png");
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat; 
        padding-bottom: 150px; 
    }
}

.advantages__card {
    position: relative;
    z-index: 1;
    top: -50px;
}

@media (min-width: 992px) {
    .advantages__card {
        position: relative;
        z-index: 1;
        top: -70px;
    }
}

@media (min-width: 1200px) {
    .advantages__card {
        position: relative;
        z-index: 1;
        top: -50px;
    }
}

.advantages__content--plus {
    position: absolute;
    top: 0;
    right: 20px;
}

.advantages__center-circle {
    position: absolute;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__block {
    position: relative;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

.advantages__wrapper--big {
    width: 18rem;
    height: 18rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 50%;
}

.advantages__wrapper--small {
    position: relative;
}

.advantages__inner--minus {
    display: none;
}

.advantages__inner--1 {
    position: absolute;
    z-index: 1;
    top: 8rem;
    right: 5rem;

}

.advantages__block--1:active .advantages__inner--minus,
.advantages__block--1:hover .advantages__inner--minus,
.advantages__block--1:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--1:active .advantages__inner--plus,
.advantages__block--1:hover .advantages__inner--plus,
.advantages__block--1:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--1 {
    display: none;
}

.advantages__block--1:active .advantages__card--1,
.advantages__block--1:hover .advantages__card--1,
.advantages__block--1:focus .advantages__card--1 {
    display: block;
}

.advantages__inner--2 {
    position: absolute;
    z-index: 1;
    top: 6rem;
    right: 8.5rem;
}

.advantages__block--2:active .advantages__inner--minus,
.advantages__block--2:hover .advantages__inner--minus,
.advantages__block--2:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--2:active .advantages__inner--plus,
.advantages__block--2:hover .advantages__inner--plus,
.advantages__block--2:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--2  {
    display: none;
}

.advantages__block--2:active .advantages__card--2,
.advantages__block--2:hover .advantages__card--2,
.advantages__block--2:focus .advantages__card--2 {
    display: block;

}
  
.advantages__inner--3 {
    position: absolute;
    z-index: 1;
    bottom: -4.5rem;
    right: 8.5rem;
}

.advantages__block--3:active .advantages__inner--minus,
.advantages__block--3:hover .advantages__inner--minus,
.advantages__block--3:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--3:active .advantages__inner--plus,
.advantages__block--3:hover .advantages__inner--plus,
.advantages__block--3:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--3 {
    display: none;
}

.advantages__block--3:active .advantages__card--3,
.advantages__block--3:hover .advantages__card--3,
.advantages__block--3:focus .advantages__card--3 {
    display: block;

}
  
.advantages__inner--4 {
    position: absolute;
    z-index: 1;
    bottom: -0.5rem;
    right: 7.4rem;
}

.advantages__block--4:active .advantages__inner--minus,
.advantages__block--4:hover .advantages__inner--minus,
.advantages__block--4:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--4:active .advantages__inner--plus,
.advantages__block--4:hover .advantages__inner--plus,
.advantages__block--4:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--4 {
    display: none;
}

.advantages__block--4:active .advantages__card--4,
.advantages__block--4:hover .advantages__card--4,
.advantages__block--4:focus .advantages__card--4 {
    display: block;

}
  
.advantages__inner--5 {
    position: absolute;
    z-index: 1;
    bottom: 1.3rem;
    left: 3.3rem;
}

.advantages__block--5:active .advantages__inner--minus,
.advantages__block--5:hover .advantages__inner--minus,
.advantages__block--5:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--5:active .advantages__inner--plus,
.advantages__block--5:hover .advantages__inner--plus,
.advantages__block--5:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--5 {
    display: none;
}

.advantages__block--5:active .advantages__card--5,
.advantages__block--5:hover .advantages__card--5,
.advantages__block--5:focus .advantages__card--5 {
    display: block;

}
  
.advantages__inner--6 {
    position: absolute;
    z-index: 1;
    bottom: -0.5rem;
    left: 7.4rem;
}

.advantages__block--6:active .advantages__inner--minus,
.advantages__block--6:hover .advantages__inner--minus,
.advantages__block--6:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--6:active .advantages__inner--plus,
.advantages__block--6:hover .advantages__inner--plus,
.advantages__block--6:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--6 {
    display: none;
}

.advantages__block--6:active .advantages__card--6,
.advantages__block--6:hover .advantages__card--6,
.advantages__block--6:focus .advantages__card--6 {
    display: block;

}

.advantages__inner--7 {
    position: absolute;
    z-index: 1;
    bottom: -4.5rem;
    left: 8.5rem;
}

.advantages__block--7:active .advantages__inner--minus,
.advantages__block--7:hover .advantages__inner--minus,
.advantages__block--7:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--7:active .advantages__inner--plus,
.advantages__block--7:hover .advantages__inner--plus,
.advantages__block--7:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--7 {
    display: none;
}

.advantages__block--7:active .advantages__card--7,
.advantages__block--7:hover .advantages__card--7,
.advantages__block--7:focus .advantages__card--7 {
    display: block;

}

.advantages__inner--8 {
    position: absolute;
    z-index: 1;
    top: 6rem;
    left: 8.5rem;
}

.advantages__block--8:active .advantages__inner--minus,
.advantages__block--8:hover .advantages__inner--minus,
.advantages__block--8:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--8:active .advantages__inner--plus,
.advantages__block--8:hover .advantages__inner--plus,
.advantages__block--8:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--8 {
    display: none;
}

.advantages__block--8:active .advantages__card--8,
.advantages__block--8:hover .advantages__card--8,
.advantages__block--8:focus .advantages__card--8 {
    display: block;

}

.advantages__inner--9 {
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 5rem;
}

.advantages__block--9:active .advantages__inner--minus,
.advantages__block--9:hover .advantages__inner--minus,
.advantages__block--9:focus .advantages__inner--minus {
    display: block;

}

.advantages__block--9:active .advantages__inner--plus,
.advantages__block--9:hover .advantages__inner--plus,
.advantages__block--9:focus .advantages__inner--plus {
    display: none;
}

.advantages__card--9 {
    display: none;
}

.advantages__block--9:active .advantages__card--9,
.advantages__block--9:hover .advantages__card--9,
.advantages__block--9:focus .advantages__card--9 {
    display: block;

}

@media (min-width: 1200px) {
    .advantages__inner--1 {
        top: 8rem;
        right: 5.1rem;
    
    }
    
    .advantages__inner--2 {
        top: 6rem;
        right: 8.6rem;
    }

      
    .advantages__inner--3 {
        bottom: -4.5rem;
        right: 8.7rem;
    }
      
    .advantages__inner--4 {
        bottom: -0.5rem;
        right: 7.6rem;
    }
    
    .advantages__inner--5 {
        bottom: 1.3rem;
        left: 3.3rem;
    }
      
    .advantages__inner--6 {
        bottom: -0.5rem;
        left: 7.6rem;
    }
    
    .advantages__inner--7 {
        bottom: -4.5rem;
        left: 8.7rem;
    }
    
    .advantages__inner--8 {
        top: 6rem;
        left: 8.6rem;
    }

    .advantages__inner--9 {
        top: 8rem;
        left: 5.1rem;
    }
}

.advantages__block--1 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -8rem;
    right: 0rem;
    cursor: pointer;
}
  
.advantages__block--2 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -2rem;
    right: -8rem;
    cursor: pointer;
}
  
.advantages__block--3 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: 3rem;
    right: -9rem;
    cursor: pointer;
}
  
.advantages__block--4 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: -6rem;
    right: -5rem;
    cursor: pointer;
}
  
.advantages__block--5 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: -10rem;
    left: 5rem;
    cursor: pointer;
}
  
.advantages__block--6 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: -6rem;
    left: -5rem;
    cursor: pointer;
}

.advantages__block--7 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: 3rem;
    left: -9rem;
    cursor: pointer;
}

.advantages__block--8 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -2rem;
    left: -8rem;
    cursor: pointer;
}

.advantages__block--9 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -8rem;
    left: 0rem;
    cursor: pointer;
}


.advantages__aside {
    position: absolute;
    
}

.advantages__aside--content {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
}

.advantages__card--1 {
    position: absolute;
    width: 20rem;
    top: 9rem;
    right: 6.2rem;
    z-index: 2;
}

.advantages__card--2 {
    position: absolute;
    width: 20rem;
    top: 7rem;
    right: 9.7rem;
    z-index: 2;
}

.advantages__card--3 {
    position: absolute;
    width: 20rem;
    top: 3.8rem;
    right: 9.9rem;
    z-index: 2;
}

.advantages__card--4 {
    position: absolute;
    width: 20rem;
    top: -14.8rem;
    right: 8.6rem;
    z-index: 2;
}

.advantages__card--5 {
    position: absolute;
    width: 20rem;
    top: -15.8rem;
    right: 4.2rem;
    z-index: 2;
}

.advantages__card--6 {
    position: absolute;
    width: 20rem;
    top: -10.9rem;
    right: -20.7rem;
    z-index: 2;
}

.advantages__card--7 {
    position: absolute;
    width: 20rem;
    top: 3.8rem;
    right: -21.9rem;
    z-index: 2;
}

.advantages__card--8 {
    position: absolute;
    width: 20rem;
    top: 7rem;
    right: -21.7rem;
    z-index: 2;
}

.advantages__card--9 {
    position: absolute;
    width: 20rem;
    top: 9rem;
    right: -18.2rem;
    z-index: 2;
}

@media (min-width: 1200px) {
    .advantages__card--1 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: -21rem;
        z-index: 2;
    }
    
    .advantages__card--2 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: -20rem;
        z-index: 2;
    }
    
    .advantages__card--3 {
        position: absolute;
        width: 20rem;
        top: 8rem;
        right: -19rem;
        z-index: 2;
    }
    
    .advantages__card--4 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: -21rem;
        z-index: 2;
    }
    
    .advantages__card--5 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: -21rem;
        z-index: 2;
    }
    
    .advantages__card--6 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: 9rem;
        z-index: 2;
    }
    
    .advantages__card--7 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: 7rem;
        z-index: 2;
    }
    
    .advantages__card--8 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: 8rem;
        z-index: 2;
    }
    
    .advantages__card--9 {
        position: absolute;
        width: 20rem;
        top: 3.5rem;
        right: 9.5rem;
        z-index: 2;
    }
}