/*DESCRIPTION--PAGES*/

.description--pages {
    background-image: url("../img/background-description-mobile.png");
    background-size: cover;
    background-position: top 30% center;
    background-repeat: no-repeat;
    padding-bottom: 50px;   
}

@media (min-width: 992px) {
    .description--pages {
        background-image: url("../img/background-description-tablet.png");
        background-size: 100% auto;
        background-position: top 30% center;
        background-repeat: no-repeat;   
        padding-bottom: 50px;   
    }
}

@media (min-width: 1200px) {
    .description--pages {
        background-image: url("../img/background-description-desktop.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat; 
        padding-bottom: 50px; 
    }
}

.description--pages-bg {
    background-image: url("../img/background-description-bg-mobile.png");
    background-size: cover;
    background-position: top 30% center;
    background-repeat: no-repeat;
    padding-bottom: 50px;   
}

@media (min-width: 992px) {
    .description--pages {
        background-image: url("../img/background-description-bg.png");
        background-size: 100% auto;
        background-position: top 30% center;
        background-repeat: no-repeat;   
        padding-bottom: 50px;   
    }
}
