/*FAQ*/

.faq__label {
    position: relative;
    cursor: pointer;
}

.faq__label::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/arrow-down.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
}

.faq__input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faq__input:checked ~ .faq__label::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/arrow-up.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
}

.faq__input:checked ~ .faq__text {
    display: block;
}

.faq__text {
    display: none;
}