/*FEATURES*/

.features {
    background-image: url("../img/background-features-desktop.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 50px;   
    overflow: hidden;
}