/*FILTER*/

.filter {
    position: relative;
    z-index: 1;
    top: -50px;
}

.form-check-inline .form-check-input {
    border: none;
    box-shadow: inset 0px 0px 10px #ECECEC;
}

.filter__form--btn {
    position: relative;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.range {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 3px;  
    background: #1A9F29;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #1A9F29;
    border-radius: 3px;
    cursor: pointer;
}

.range::-moz-slider-thumb {
    width: 20px;
    height: 250px;
    background: #1A9F29;
    border-radius: 3px;
    cursor: pointer;
}

.filter__card {
    background-color: #EFEFEF;
    max-width: 400px; 
    margin: auto;
}

.filter__card--col {
    border-bottom: 1px dashed #9D9D9D;
}

@media (min-width: 992px) {
    .filter__card {
        background-color: #FFFFFF;
        max-width: 1400px; 
    }

    .filter__card--head {
        background-color: #EFEFEF;
    }

    .filter__card--col {
        border-bottom: none;
        border-right: 1px solid #9D9D9D;
    }
}