/*MAIN*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    min-width: 320px;
    
    color: #000000;
    font-family: "Montserrat-Regular", "Roboto-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

a {
    color: #1A9F29;
}

a:active,
a:hover,
a:focus {
    color: #1A9F29;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: none;
}



.common-background {
    position: relative;
    background-image: url("../img/background-common.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; 
    background-color: #FFFFFF; 
    margin: auto;
}

@media (min-width: 768px) {
    .common-background {
        background-image: url("../img/background-common.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat; 
    }
}

@media (min-width: 1200px) {
    .common-background {
        background-image: url("../img/background-common.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
}

.card__btn {
    position: relative;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FFFFFF;
}

.card__top--yellow {
    border-top: 12px solid #FFEFB2;
    border-radius: 8px 8px 0 0;
    margin: 0 12px;
}



.input__wrapper {
    position: relative;
}
   
.input__file {
    width: 2rem;
    height: 1rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
}



.link-page,
.link-page:active,
.link-page:hover,
.link-page:focus {
    color: #1A9F29;
}

