/*NAV*/

.nav__container::before {
    width: 100%;
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
}

.nav__btn {
    line-height: 1.5;
    padding: .375rem 2.5rem;
    margin-top: 0;
    margin-left: 1rem;
}

.navbar__icon {
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #FFC900;
    border-radius: 25px;
}

.navbar__icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #FFC900;
    border-radius: 25px;
}

.navbar__icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #FFC900;
    border-radius: 25px;
}

.navbar__icon.navbar__icon--active {
    background-color: transparent;
}

.navbar__icon.navbar__icon--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
}

.navbar__icon.navbar__icon--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.section__title {
    font-family: "Roboto-Black";
    font-weight: 900;
    font-style: bold;
    font-size: 21px;
    line-height: 23px;
}

@media (min-width: 768px) {
    .section__title {
        font-family: "Roboto-Black";
        font-weight: 900;
        font-style: bold;
        font-size: 34px;
        line-height: 36px;
    }
}

@media (min-width: 1200px) {
    .section__title {
        font-family: "Roboto-Black";
        font-weight: 900;
        font-style: bold;
        font-size: 42px;
        line-height: 44px;
    }
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    background: #F7F7F6;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05) inset;
    margin: 10px 10px 0 10px;
}

.nav-tabs .nav-link.active {
    border: none;
    background: #F7F7F6;
    border-radius: 10px 10px 0 0; 
    box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, 0.1);
}

.tab-content--grey>.active {
    background: #F7F7F6;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    margin: 0 0 10px 10px;
}