/*OBJECTS*/

.objects {
    background: #F5F5F4;
}

.objects__card--btn {
    position: relative;
    top: -1rem;
    margin: 0 0.4rem;
}

.objects__card--btn-yellow {
    color: #212529;
    background: #FFC900;
    border: none;
    padding: 0.6rem 0.8rem;
    -webkit-box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.objects__card--btn-green {
    color: #FFFFFF;
    background: #1A9F29;
    border: none;
    padding: 0.6rem 0.8rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3), inset 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.objects__nav {
    width: 25px;
    height: 20px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px #ECECEC;
}

.objects__nav--active {
    width: 25px;
    height: 20px;
    color: #FFFFFF;
    background-color: #1A9F29;
    border: 1px solid #1A9F29;
    border-radius: 3px;
    box-shadow: none;
}

.objects__card--1 {
    width: 100%;
}

.objects__card--2,
.objects__card--3,
.objects__card--4 {
    display: none;
}

@media (min-width: 768px) {
    .objects__card--2 {
        display: block;
    }

    .objects__card--1,
    .objects__card--2 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .objects__card--3 {
        display: block;
    }

    .objects__card--1,
    .objects__card--2,
    .objects__card--3 {
        width: 33%;
    }
}

@media (min-width: 1600px) {
    .objects__card--4 {
        display: block;
    }

    .objects__card--1,
    .objects__card--2,
    .objects__card--3,
    .objects__card--4 {
        width: 25%;
    }
}

.objects__filter {
    padding-bottom: 130px;
}

@media (min-width: 414px) {
    .objects__filter {
        padding-bottom: 150px;
    }
}

@media (min-width: 576px) {
    .objects__filter {
        padding-bottom: 160px;
    }
}

@media (min-width: 992px) {
    .objects__filter {
        padding-bottom: 110px;
    }
}

@media (min-width: 1050px) {
    .objects__filter {
        padding-bottom: 130px;
    }
}

@media (min-width: 1200px) {
    .objects__filter {
        padding-bottom: 150px;
    }
}

.objects__map {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    height: 100%;
    background-image: url("../img/map-mobile.png");
    background-size: 100% auto;
    background-position: top -50px center;
    background-repeat: no-repeat;
}

.objects__map--text {
    width: 250px;
    padding-top: 50px;
    margin: auto;
    
}

@media (min-width: 992px) {
    .objects__map {
        position: absolute;
        width: 90%;
        max-width: 1100px;
        height: 100%;
        background-image: url("../img/map-background.png");
        background-size: 100% auto;
        background-position: top -30px center;
        background-repeat: no-repeat;
    }
    
    .objects__map--text {
        width: 900px;
        padding: 50px 0 100px;
        margin: auto;
    }
}