.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0 12px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}