/*PROJECTS*/

.projects {
    background-color: #F5F5F4;
}

.projects__card--btn,
.projects__card--btn-horizontal {
    display: none;
    color: #212529;
    background: #FFC900;
    border: none;
    padding: 0.6rem 0.8rem;
    -webkit-box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.project__card--btn {
    display: none;
    color: #212529;
    background: #FFC900;
    border: none;
    padding: 0.6rem 0.8rem;
    -webkit-box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 25px rgba(247, 206, 52, 0.7), inset 0px 0px 20px rgba(0, 0, 0, 0.1);   
    border-radius: 8px;
}

@media (min-width: 768px) {
    .projects__card--btn {
        display: block;
        position: absolute;
        top: 1.25rem;
    }

    .projects__card--btn-horizontal {
        display: block;
        position: absolute;
        top: 0;
    }

    .project__card--btn {
        display: block;
        position: absolute;
        top: 0;
    }
}

.feature__block {
    position: relative;
}

.feature__img {
    position: absolute;
    z-index: 1;
    left: 10.5rem;
    top: 0;
}

.feature__btn {
    padding: 0.8rem 2.5rem;
}

@media (min-width: 768px) {
    .feature__btn {
        margin-top: 75px;
    }

    .feature__img--1 {
        position: absolute;
        height: 80px;
        width: auto;
        top: 10px;
        left: 43%;
        transform: translateX(-50%);
    }

    .feature__img--2 {
        position: absolute;
        height: 90px;
        width: auto;
        top: 10px;
        left: 39%;
        transform: translateX(-50%);
    }

    .feature__img--3 {
        position: absolute;
        height: 110px;
        width: auto;
        top: 0;
        left: 47%;
        transform: translateX(-50%);
    }

    .feature__btn {
        padding: 0.8rem 1rem;
    }
}

.project__card--text {
    display:flex;
    position:relative;
    justify-content: space-between;
}

.project__card--text:before {
    content:'';    
    height: 1px;
    top:calc(50% - 1px);
    position:absolute;
    width: 100%;
    background:#cecece;
} 

.project__card--text p {
    margin:0 5px;
    position:relative;
    background:#fff;
}

.project__card--text p:first-child {
    margin-left:0;
}
  
.project__card--text p:last-child {
    margin-right:0;
}
