/*STEPS*/

.steps__nav-link {
    width: 5.5rem;
    color: #868686;
    border: 1px solid #F7CE34;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin: 0.5rem 0.25rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.steps__nav-link  {
    color: #000000;
    background-color: #F7CE34;
}