/*SUBSCRIBE*/

.subscribe {
    width: 100%;
    max-width: 708px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (min-width: 1800px) {
    .subscribe {
        max-width: 1208px;
    }
}

.subscribe__form {
    position: relative;
    margin-top: 50px;
}

.subscribe__form--img {
    position: absolute;
    top: -60px;
    left: -70px;
}

.subscribe__form--btn {
    position: relative;
    bottom: -1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}