/*SUBSCRIBE*/

.subscribe {
    width: 100%;
    max-width: 708px;
    position: relative;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 1200px) {
    .subscribe {
        max-width: 1000px;
    }
}

.subscribe__form {
    position: relative;
    margin-top: -50px;
}

.subscribe__form--img {
    position: absolute;
    top: -60px;
    left: -70px;
}

.subscribe__form--btn {
    position: relative;
    bottom: -1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}