.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #666666;
}

.light-grey {
    color: #A9A9A9;
    ;
}

.green {
    color: #1A9F29;
}

.bright-green {
    color: #1BE532;
}

.green-transparent {
    color: #1A9F29;
    opacity: 0.5;
}

.bright-yellow {
    color: #F7CE34;
}

